.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,auto); 
    height: 100%;
    width: 100%;
    grid-auto-flow: dense;
    justify-items: center;
}